src/conf/xml-resources/web-service-references/WSVinculacion/wsdl/localhost_8080/WSUnidos/WSVinculacion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://convenios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://convenios/" name="WSVinculacion">
<types>
<xsd:schema>
<xsd:import namespace="http://convenios/" schemaLocation="http://localhost:8080/WSUnidos/WSVinculacion?xsd=1"/>
</xsd:schema>
</types>
<message name="loadConvenios">
<part name="parameters" element="tns:loadConvenios"/>
</message>
<message name="loadConveniosResponse">
<part name="parameters" element="tns:loadConveniosResponse"/>
</message>
<message name="loadUnidadesAdministrativasPorConvenio">
<part name="parameters" element="tns:loadUnidadesAdministrativasPorConvenio"/>
</message>
<message name="loadUnidadesAdministrativasPorConvenioResponse">
<part name="parameters" element="tns:loadUnidadesAdministrativasPorConvenioResponse"/>
</message>
<message name="loadFuncionariosPorConvenio">
<part name="parameters" element="tns:loadFuncionariosPorConvenio"/>
</message>
<message name="loadFuncionariosPorConvenioResponse">
<part name="parameters" element="tns:loadFuncionariosPorConvenioResponse"/>
</message>
<message name="loadEmpresasPorConvenio">
<part name="parameters" element="tns:loadEmpresasPorConvenio"/>
</message>
<message name="loadEmpresasPorConvenioResponse">
<part name="parameters" element="tns:loadEmpresasPorConvenioResponse"/>
</message>
<portType name="WSVinculacion">
<operation name="loadConvenios">
<input wsam:Action="http://convenios/WSVinculacion/loadConveniosRequest" message="tns:loadConvenios"/>
<output wsam:Action="http://convenios/WSVinculacion/loadConveniosResponse" message="tns:loadConveniosResponse"/>
</operation>
<operation name="loadUnidadesAdministrativasPorConvenio">
<input wsam:Action="http://convenios/WSVinculacion/loadUnidadesAdministrativasPorConvenioRequest" message="tns:loadUnidadesAdministrativasPorConvenio"/>
<output wsam:Action="http://convenios/WSVinculacion/loadUnidadesAdministrativasPorConvenioResponse" message="tns:loadUnidadesAdministrativasPorConvenioResponse"/>
</operation>
<operation name="loadFuncionariosPorConvenio">
<input wsam:Action="http://convenios/WSVinculacion/loadFuncionariosPorConvenioRequest" message="tns:loadFuncionariosPorConvenio"/>
<output wsam:Action="http://convenios/WSVinculacion/loadFuncionariosPorConvenioResponse" message="tns:loadFuncionariosPorConvenioResponse"/>
</operation>
<operation name="loadEmpresasPorConvenio">
<input wsam:Action="http://convenios/WSVinculacion/loadEmpresasPorConvenioRequest" message="tns:loadEmpresasPorConvenio"/>
<output wsam:Action="http://convenios/WSVinculacion/loadEmpresasPorConvenioResponse" message="tns:loadEmpresasPorConvenioResponse"/>
</operation>
</portType>
<binding name="WSVinculacionPortBinding" type="tns:WSVinculacion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="loadConvenios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loadUnidadesAdministrativasPorConvenio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loadFuncionariosPorConvenio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loadEmpresasPorConvenio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSVinculacion">
<port name="WSVinculacionPort" binding="tns:WSVinculacionPortBinding">
<soap:address location="http://localhost:8080/WSUnidos/WSVinculacion"/>
</port>
</service>
</definitions>