web/WEB-INF/wsdl/localhost_8080/WSUnidos/WSservicioEspoch.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://institucionales.ServiciosWeb.pa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://institucionales.ServiciosWeb.pa/" name="WSservicioEspoch">
<types>
<xsd:schema>
<xsd:import namespace="http://institucionales.ServiciosWeb.pa/" schemaLocation="http://localhost:8080/WSUnidos/WSservicioEspoch?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://academico.espoch.edu.ec/" schemaLocation="http://localhost:8080/WSUnidos/WSservicioEspoch?xsd=2"/>
</xsd:schema>
</types>
<message name="DatosUsuarioCarrera">
<part name="parameters" element="tns:DatosUsuarioCarrera"/>
</message>
<message name="DatosUsuarioCarreraResponse">
<part name="parameters" element="tns:DatosUsuarioCarreraResponse"/>
</message>
<message name="FacultadesTotales">
<part name="parameters" element="tns:FacultadesTotales"/>
</message>
<message name="FacultadesTotalesResponse">
<part name="parameters" element="tns:FacultadesTotalesResponse"/>
</message>
<message name="DatosPeriodo">
<part name="parameters" element="tns:DatosPeriodo"/>
</message>
<message name="DatosPeriodoResponse">
<part name="parameters" element="tns:DatosPeriodoResponse"/>
</message>
<message name="Convenios">
<part name="parameters" element="tns:Convenios"/>
</message>
<message name="ConveniosResponse">
<part name="parameters" element="tns:ConveniosResponse"/>
</message>
<message name="DictadosMateria">
<part name="parameters" element="tns:DictadosMateria"/>
</message>
<message name="DictadosMateriaResponse">
<part name="parameters" element="tns:DictadosMateriaResponse"/>
</message>
<message name="MallaCurricularPensumVigenteSinDescripcion">
<part name="parameters" element="tns:MallaCurricularPensumVigenteSinDescripcion"/>
</message>
<message name="MallaCurricularPensumVigenteSinDescripcionResponse">
<part name="parameters" element="tns:MallaCurricularPensumVigenteSinDescripcionResponse"/>
</message>
<portType name="WSservicioEspoch">
<operation name="DatosUsuarioCarrera">
<input wsam:Action="http://institucionales.ServiciosWeb.pa/WSservicioEspoch/DatosUsuarioCarreraRequest" message="tns:DatosUsuarioCarrera"/>
<output wsam:Action="http://institucionales.ServiciosWeb.pa/WSservicioEspoch/DatosUsuarioCarreraResponse" message="tns:DatosUsuarioCarreraResponse"/>
</operation>
<operation name="FacultadesTotales">
<input wsam:Action="http://institucionales.ServiciosWeb.pa/WSservicioEspoch/FacultadesTotalesRequest" message="tns:FacultadesTotales"/>
<output wsam:Action="http://institucionales.ServiciosWeb.pa/WSservicioEspoch/FacultadesTotalesResponse" message="tns:FacultadesTotalesResponse"/>
</operation>
<operation name="DatosPeriodo">
<input wsam:Action="http://institucionales.ServiciosWeb.pa/WSservicioEspoch/DatosPeriodoRequest" message="tns:DatosPeriodo"/>
<output wsam:Action="http://institucionales.ServiciosWeb.pa/WSservicioEspoch/DatosPeriodoResponse" message="tns:DatosPeriodoResponse"/>
</operation>
<operation name="Convenios">
<input wsam:Action="http://institucionales.ServiciosWeb.pa/WSservicioEspoch/ConveniosRequest" message="tns:Convenios"/>
<output wsam:Action="http://institucionales.ServiciosWeb.pa/WSservicioEspoch/ConveniosResponse" message="tns:ConveniosResponse"/>
</operation>
<operation name="DictadosMateria">
<input wsam:Action="http://institucionales.ServiciosWeb.pa/WSservicioEspoch/DictadosMateriaRequest" message="tns:DictadosMateria"/>
<output wsam:Action="http://institucionales.ServiciosWeb.pa/WSservicioEspoch/DictadosMateriaResponse" message="tns:DictadosMateriaResponse"/>
</operation>
<operation name="MallaCurricularPensumVigenteSinDescripcion">
<input wsam:Action="http://institucionales.ServiciosWeb.pa/WSservicioEspoch/MallaCurricularPensumVigenteSinDescripcionRequest" message="tns:MallaCurricularPensumVigenteSinDescripcion"/>
<output wsam:Action="http://institucionales.ServiciosWeb.pa/WSservicioEspoch/MallaCurricularPensumVigenteSinDescripcionResponse" message="tns:MallaCurricularPensumVigenteSinDescripcionResponse"/>
</operation>
</portType>
<binding name="WSservicioEspochPortBinding" type="tns:WSservicioEspoch">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="DatosUsuarioCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FacultadesTotales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DatosPeriodo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Convenios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DictadosMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MallaCurricularPensumVigenteSinDescripcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSservicioEspoch">
<port name="WSservicioEspochPort" binding="tns:WSservicioEspochPortBinding">
<soap:address location="http://localhost:8080/WSUnidos/WSservicioEspoch"/>
</port>
</service>
</definitions>